.container {
  margin-left: 30%;
  margin-bottom: 20px;
}

.card {
  background-color: rgb(160, 131, 189);
  width: 50%;
  align-items: center;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
}
